<!DOCTYPE html>
{% extends 'base.html' %}
{% load  static %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="signincss.css">
</head>
<body>
	{% block  content %}
	<style>
		#dd{
			padding: 20px;
			margin: 50px;
		}
	</style>

	<h2>About Us</h2>
	<div id="dd" class="container-fluide">
		<p>
		  If You do love With Photograpy , Art, Animation Or You have Some work related with it
          Then this Is the Best Place For You To Come and Visit for checkout creator for related fields
          here You Can get Ton's Of Photo To see from lot's Creator as well as You Can Contect with Them
          By Go Through  There Profile OR If You love To click Lovly Photos OR have skill on art or drwing or can produce good Animation pics Then go and Register Your Prfile And show case Your Work By uploading Post related Your Work!! So that any one can ask For work
        </p>
        <h5> Privercy </h5>
        <p>
        	This Website reserve All of Your Information and data , We kept it secrect <br>
        	So be comfortable Here to share Your Work It will be super awesome
        </p>
	</div>
	<div style="margin-bottom:50px;" class="container-fluide">
		<h5 style="margin-left:50px;">Devoloper message</h5>
		<p style="text-align:center;">
			Hello there ,I am Suman Mandal A current Computer Science Student From BUIE bankura
			I devolved This Site By my own to Help Those People Who really interest on making
			there own portfolio over internet to showcase there talent . So use It by your best possiable way !!
		</p>
		<h6 style="text-align:center;">Thank You for Visiting Here</h6><h2>:)</h2>
	</div>
	{% endblock %}
</body>
</html>