<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  <link href="/media/need/ic.ico" rel="shortcut icon"/>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/static/css/magnific-popup.css"/>
  <link rel="stylesheet" href="/static/css/slicknav.min.css"/>
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css"/>

  <!-- Main Stylesheets -->
  <link rel="stylesheet" href="/static/css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>pickBazaR</title>
  </head>
  <style>
      body{
        font-family: 'Roboto Slab', serif;
      }
    .header{
      height: 95vh;
      width: 100%;
      background-color: black;
      color: white;
      background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url(/media/need/im1.jpg);
      background-size: cover;
    }
    .h-100{
      height: 100%;
      width: 100%;
    }
    #ic{
      height: 70px;
      width: 200px;
      padding:5px;
    }
    #hd{
      height: 80px;
    }
  </style>
  <body>

<!--coding area-->

  <!-- Header section  -->
  <header id = "hd" class="header-section hs-bd">
    <a  href="/" class="site-logo"><img id="ic" src="/media/need/icon.png" alt="logo"></a>
    <div class="header-controls">
      <button class="nav-switch-btn"><i class="fa fa-bars"></i></button>
    </div>
    <ul class="main-menu">

      <li><a href="/imageapp/home/">Home</a></li>
      <li><a href="/imageapp/about/">About Us</a></li>

      <li class="search-mobile">
        <button class="search-btn"><i class="fa fa-search"></i></button>
      </li>
    </ul>
  </header>
  <div class="clearfix"></div>
<!--end navbar area-->

<!--header area-->

<header class="header"> 
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <h1 style="color:white;">Welcome To pickbazar</h1></br>
        <p style="color:white;">
          If You do love With Photograpy , Art, Animation Or You have Some work related with it
          Then this Is the Best Place For You To Come and Visit for checkout creator for related fields
          here You Can get Ton's Of Photo To see from lot's Creator as well as You Can Contect with Them
          By Go Through  There Profile OR If You love To click Lovly Photos OR have skill on art or drwing or can produce good Animation pics Then go and Register Your Prfile And show case Your Work By uploading Post related Your Work!! So that any one can ask For work :) 
        </p>
        <a href="/imageapp/home/"><button type="button" class="btn btn-primary">Explore</button></a>
      </div>
    </div>    
  </div>
</header>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="/static/js/jquery-3.2.1.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/jquery.slicknav.min.js"></script>
      <script src="/static/js/owl.carousel.min.js"></script>
      <script src="/static/js/jquery.magnific-popup.min.js"></script>
      <script src="/static/js/circle-progress.min.js"></script>
      <script src="/static/js/mixitup.min.js"></script>
      <script src="/static/js/instafeed.min.js"></script>
      <script src="/static/js/masonry.pkgd.min.js"></script>
      <script src="/static/js/main.js"></script>  
</body>
</html>